@using BusinessLogicLayer.DTO;
@model EmployeeDTO

@{
    ViewBag.Title = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детальная форма:</h2>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.LabelFor(model => model.LastName)</dt>
        <dd> @Html.DisplayFor(model => model.LastName) </dd>

        <dt>@Html.LabelFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.LabelFor(model => model.MiddleName)</dt>
        <dd>@Html.DisplayFor(model => model.MiddleName)</dd>

        <dt>@Html.LabelFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
    </dl>
    <p>
        @Html.ActionLink("К списку", "Index") |
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id })
    </p>
    @if (Model.EmployeeInProjects != null && Model.EmployeeInProjects.Count > 0)
    {
        <label class="display-label"><b>Сотрудник в:</b></label>
        <ul>
            @foreach (var project in Model.EmployeeInProjects)
            {
                <li>@project.Name</li>
            }
        </ul>
    }
    @if (Model.ExecutorInProjects != null && Model.ExecutorInProjects.Count > 0)
    {
        <label class="display-label"><b>Исполнитель в:</b></label>
        <ul>
            @foreach (var project in Model.ExecutorInProjects)
            {
                <li>@project.Name</li>
            }
        </ul>
    }
</div>